docker/china2-model_step_55000.pt
docker/ondatr-model_step_50000.pt
_/_ondatr-trans_step_20000.pt
_/_ondatr-trans_step_40000.pt
_/ondatr-model_step_50000.pt
_/ondatr-trans_step_20000_32_ted100_0.8.pt
_/ondatr-trans_step_20000_52_ted_100_0.9.pt
_/ondatr-trans_step_50000_1.0.pt
_/ondatr-trans_step_50000_52_ted_100_0.9.pt
_/ondatr-trans_step_80000_v32_ted144.pt
docker/ondatr-trans_step_130000_v32_ted144.pt
_/ondatr-trans_step_130000_v32_ted144.pt
_OS_500_v32/ondatr-trans_step_70000.pt
_OS_500_v32/ondatr-trans_step_80000.pt
_OS_500_v32/ondatr-trans_step_100000.pt
_OS_500_v32/ondatr-trans_step_110000.pt
_OS_500_v32/ondatr-trans_step_120000.pt
_OS_500_v32/ondatr-trans_step_130000.pt
_OS_500_v32/ondatr-trans_step_140000.pt
_OS_500_v32/ondatr-trans_step_150000.pt
docker/ondatr-trans_step_150000_v32_open500.pt
docker_bleu/ondatr-trans_step_160000.pt
docker_bleu/ondatr-trans_step_200000.pt
docker_bleu/ondatr-trans_step_220000.pt
docker_bleu/ondatr-trans_step_240000.pt
docker_bleu/ondatr-trans_step_260000.pt
docker_bleu/ondatr-trans_step_280000.pt
docker_bleu/ondatr-trans_step_300000.pt
